<footer class="site-footer bg-light mt-auto">
  <div class="container">
    <nav>
      <ul class="nav justify-content-end">
        {% for section in site.html_pages %}{% if section.nav %}
        <li class="nav-item"><a class="nav-link{% if page.url == section.url %} active{% endif %}" href="{{ section.url | relative_url }}">{% if section.nav == true %}{{ section.title }}{% else %}{{ section.nav }}{% endif %}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </nav>
    <div class="row align-items-center pb-3">
        <div class="col-md">
          <a class="h5" href="{{ '/' | relative_url }}">{{ site.title }}</a>
          <br>
          <span class="pl-3"><p><strong>Content:</strong> CC BY-SA {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">{{ site.author }}</a>{% else %}{{ site.author }}{% endif %} {% if site.github_username1 %} & <a href="https://github.com/{{ site.github_username1 }}">{{ site.author1 }}</a>{% endif %} {{ site.pub_year}} (get <a href="{{ site.source-code }}" target="_blank" rel="noopener">source code</a>). <a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license"><img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" alt="Creative Commons License" /></a></p> </span>
        </div>
        <div class="col-md">
          {% if site.search == true %}
          <script>
            function site_search() {
              var query = document.getElementById("site-search").value;
              window.open("{{ '/search/index.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
            }
          </script>
          <form class="form-inline my-2 my-lg-0 float-right" role="search" id="search" onsubmit="site_search(); return false;">
            <div class="input-group">
              <input id="site-search" class="form-control" type="text" placeholder="Search" aria-label="Search box">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit"><span class="fas fa-search"></span><span class="sr-only">submit search</span></button>
              </div>
            </div>
          </form>
          {% endif %}
        </div>
    </div>
  </div>
</footer>
